body {
font-family:sans-serif;
background-color:#DEDEDE;
color: #333;
padding: 20px 0 20px 0;
margin: 0;
}

img {
max-width: auto;
height: auto;
}

.app-title{
 
 text-align: center;
} 

.animal{
text-align: center;
}
